body {
  background-color: #f5f5f5;
  color: #4e4e4e;
  font-family: 'Sen', sans-serif;
  
}
 
h5 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}


.sect-pt4 {
  padding-top: 4rem;
}

/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}


/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #000000;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}

/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}
li {
  display: inline-block;
}
svg {
  width: 60px;
}

/*------/ Ul resect /------*/
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
padding-top: 4rem;
padding-bottom: 4rem;
}

.about-mf .about-img {
margin-bottom: 2rem; 
}

.about-mf .about-img img {
margin-left: 10px;
}

.skill-mf span {
color: #000000;
}

.skill-mf .progress {
background-color: #00000034;
margin: 0.5rem 0 1.2rem 0;
border-radius: 0;
height: 0.7rem;
}

.skill-mf .progress .progress-bar {
height: 0.7rem;
background-color: #000000e7;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
text-align: center;
color: rgb(0, 0, 0);
padding: 25px 0;
background: #ffffff;
}

footer .copyright {
margin-bottom: 0.3rem;
}

footer .credits {
margin-bottom: 0;
}

footer .credits a {
color: rgb(0, 0, 0);
}
