@font-face {
  font-family: 'amatic_scregular';
  src: url('/assets/fonts/amaticsc-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'senregular';
  src: url('/assets/fonts/sen-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  font-family: 'senregular';
}

h5 {
  color: #1e1e1e
}

a {
  color: #1e1e1e;
  transition: all .5s ease-in-out
}

a:hover {
  color: #000;
  text-decoration: none;
  transition: all .5s ease-in-out
}

.sect-pt4 {
  padding-top: 4rem
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem
}

.title-box-2 {
  margin-bottom: 3rem
}

.title-left {
  font-size: 2rem;
  position: relative
}

.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #000;
  width: 100px;
  bottom: -12px
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #FEFEFF;
  margin-bottom: 3rem;
  border-radius: 5px;
}

@media (min-width:768px) {
  .box-shadow-full {
    padding: 3rem
  }
}

.socials {
  padding: 1.5rem 0
}

li {
  display: inline-block
}

svg {
  width: 60px
}

.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0
}

.about-img {
  margin-bottom: 2rem
}

.about-img img {
  border-radius: 500px;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 355px) {
  .about-img img {
    width: 200px;
    height: 200px;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


footer {
  text-align: center;
  color: #19191B;
  padding: 85px 0;
  background: #ffffff;
  font-size: 1.2rem;
}

footer .copyright {
  margin-bottom: .3rem
}

footer .credits {
  margin-bottom: 0
}

svg {
  width: 40px;
  height: 40px;
  fill: #19191B;
  margin-right: 8px
}

.fullscreenDiv {
  background-color: #e8e8e8;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}

.space {
  height: 150px;
}

@media screen and (max-width: 600px) {
  .space {
    height: 50px;
  }
}