@font-face {
  font-family: 'amatic_scregular';
  src: url('/assets/fonts/amaticsc-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'senregular';
  src: url('/assets/fonts/sen-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: 'senregular';
}

h2 {
  color: #1e1e1e
}

a {
  color: #1e1e1e;
  transition: all .5s ease-in-out
}

a:hover {
  color: #000;
  text-decoration: none;
  transition: all .5s ease-in-out
}

.socials {
  padding: 1.5rem 0
}

li {
  display: inline-block
}

svg {
  width: 60px
}

.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0
}

.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem
}

.navbar-b.navbar-trans .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0
}

@media (min-width:768px) {
  .navbar-b.navbar-trans .nav-item {
    padding-left: 10px
  }
}

.navbar-b.navbar-trans .nav-link {
  color: #000;
  font-weight: 600
}

.navbar-b.navbar-trans .nav-link:before {
  content: "";
  position: absolute;
  margin-left: 0;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all .5s ease
}

@media (min-width:768px) {
  .navbar-b.navbar-trans .nav-link:before {
    margin-left: 18px
  }
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #1b1b1b
}

.navbar-b.navbar-trans .nav-link:hover:before {
  width: 35px
}

.navbar-b.navbar-trans .nav-link.active:before {
  width: 35px
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #000
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #000
}

.navbar-b.navbar-trans .nav-link.active {
  color: #000
}

.navbar-b .navbar-brand {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-toggler {
  position: relative
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0
}

.navbar-toggler span {
  display: block;
  background-color: #000;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0);
  left: 0;
  opacity: 1
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out
}

footer {
  text-align: center;
  color: #19191B;
  padding: 25px 0;
  background: #ffffff;
  font-size: 1.2rem;
}

footer .copyright {
  margin-bottom: .3rem
}

footer .credits {
  margin-bottom: 0
}

svg {
  width: 40px;
  height: 40px;
  fill: #19191B;
  margin-right: 8px
}

