@font-face {
    font-family: "fontBold";
    src: url(../../assets/fonts/PlusJakartaSans-Bold.woff2) format("woff2")
}

@font-face {
    font-family: "fontRegular";
    src: url(../../assets/fonts/PlusJakartaSans-Regular.woff2) format("woff2")
}

body {
    background-color: #f5f5f5;
    color: #4e4e4e;
    font-family: 'Sen', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e
}

a {
    color: #1e1e1e;
    transition: all .5s ease-in-out
}

a:hover {
    color: #000;
    text-decoration: none;
    transition: all .5s ease-in-out
}

.p-r {
    position: relative
}

.color-a {
    color: #000
}

.color-d {
    color: #f5f5f5
}

.color-text-a {
    color: #4e4e4e
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1)
}

.box-shadow-a,
.button:hover {
    box-shadow: 0 0 0 4px #cde1f8
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1
}

.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 600px;
    background-position: center center;
}

@media (max-width: 1024px) {
    .bg-image {
        background-attachment: scroll;
    }
}

.overlay-mf {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7
}

.paralax-mf {
    position: relative;
    padding: 8rem 0
}

.display-table {
    width: 100%;
    height: 100%;
    display: table
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

.sect-4 {
    padding: 4rem 0
}

.sect-pt4 {
    padding-top: 4rem
}

.sect-mt4 {
    margin-top: 4rem
}

.title-s {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem
}

.title-box {
    margin-bottom: 4rem
}

.title-a {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase
}

.subtitle-a {
    color: #4e4e4e
}

.line-mf {
    width: 40px;
    height: 5px;
    background-color: #000;
    margin: 0 auto
}

.title-box-2 {
    margin-bottom: 3rem
}

.title-left {
    font-size: 2rem;
    position: relative
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #000;
    width: 100px;
    bottom: -12px
}

.box-pl2 {
    padding-left: 2rem
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
    .box-shadow-full {
        padding: 3rem
    }
}

.socials {
    padding: 2rem 0
}

.soc ul {
    list-style: none
}

li {
    display: inline-block
}

svg {
    width: 60px
}

.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0
}

.list-ico {
    line-height: 2
}

.list-ico span {
    color: #000;
    margin-right: 10px
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #000;
    display: block
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #000203;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.button {
    display: inline-block;
    padding: .3rem .6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: .3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer
}

.button:focus {
    outline: 0
}

.button:hover {
    background-color: #000408;
    color: #fff;
    transition: all 500ms ease
}

.button-a {
    background-color: #000;
    color: #fff;
    border-color: #cde1f8
}

.button-big {
    padding: .9rem 2.3rem;
    font-size: 1.2rem
}

.button-rouded {
    border-radius: 5rem
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

.navbar-b {
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem
}

.navbar-b.navbar-reduce {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.06)
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0
}

@media (min-width: 768px) {

    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px
    }
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    content: "";
    position: absolute;
    margin-left: 0;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease
}

@media (min-width: 768px) {

    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px
    }
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #1b1b1b
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px
}

.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: #fff
}

.navbar-b.navbar-trans .nav-link:hover {
    color: #fff
}

.navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #fff
}

.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px
}

.navbar-b.navbar-reduce .nav-link {
    color: #000
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #000
}

.navbar-b.navbar-reduce .nav-link:hover {
    color: #000
}

.navbar-b.navbar-reduce .show>.nav-link,
.navbar-b.navbar-reduce .active>.nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
    color: #000
}

.navbar-b.navbar-reduce .navbar-brand {
    color: hsl(0, 0%, 0%)
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1b1b1b
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Amatic SC', cursive
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important
}

.navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0
}

.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease
}

.navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #000;
    color: #fff;
    transition: all 500ms ease
}

.navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #000
}

.navbar-toggler {
    position: relative
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0
}

.navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: .9
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: .9
}