@font-face {
  font-family: 'amatic_scregular';
  src: url('/assets/fonts/amaticsc-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'senregular';
  src: url('/assets/fonts/sen-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
  /*--------------------------------------------------------------
  # Nav Bar
  --------------------------------------------------------------*/
  .navbar-b {
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  }
  
  .navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
      padding-left: 10px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  
  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    content: "";
    position: absolute;
    margin-left: 0px;
    width: 0%;
    bottom: 0;
    left: 0;
    height: 2px;
    transition: all 500ms ease;
  }
  
  @media (min-width: 768px) {
    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
      margin-left: 18px;
    }
  }
  
  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #1b1b1b;
  }
  
  .navbar-b.navbar-trans .nav-link:hover:before,
  .navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .show > .nav-link:before,
  .navbar-b.navbar-trans .active > .nav-link:before,
  .navbar-b.navbar-trans .nav-link.show:before,
  .navbar-b.navbar-trans .nav-link.active:before,
  .navbar-b.navbar-reduce .show > .nav-link:before,
  .navbar-b.navbar-reduce .active > .nav-link:before,
  .navbar-b.navbar-reduce .nav-link.show:before,
  .navbar-b.navbar-reduce .nav-link.active:before {
    width: 35px;
  }
  
  .navbar-b.navbar-trans .nav-link:before {
    background-color: rgb(0, 0, 0);
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: rgb(0, 0, 0);
  }
  
  .navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .navbar-b.navbar-reduce .nav-link {
    color: #000000;
  }
  
  .navbar-b.navbar-reduce .nav-link:before {
    background-color: #000000;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: #000000;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
    color: hsl(0, 0%, 0%);
  }
  
  .navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1b1b1b;
  }
  
  .navbar-b .navbar-brand {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: 0.7rem 1.7rem;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #000000;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #000000;
  }
  
  /*--/ Hamburger Navbar /--*/
  .navbar-toggler {
    position: relative;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }
  