.contact-clean {
  background: #ffffff;
  padding: 80px 0;
}

@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 95%;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 50px;
  border-radius: 5px;
}

@media (max-width:767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #f5f5f5;
  border-radius: 5px;
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
  border-color: #ffffff;

}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}